**Name: Tanmay Chipkar**

**Class: MBATech EXTC Sem 8**

**Roll No: J012**

**Experiment 0:  Familiarization with Python**

**1.	 To write a program to form a new string by exchanging first and last character of the original string**

In [2]:
def swap(string):
     
    # storing the first character
    start = string[0]
     
    # storing the last character
    end = string[-1]
     
    swapped_string = end + string[1:-1] + start
    print(swapped_string)

In [3]:
a = input("Enter your string: ")
swap(a)

Enter your string: Hello World
dello WorlH

**2.	To write a program to reverse a given number using a while loop**

In [4]:
# input from the user
number = int(input("Enter the integer number: "))

Enter the integer number: 23546716554

In [7]:
# Initiate value to null  
revs_number = 0

In [8]:
while (number > 0):  
    # Logic  
    remainder = number % 10  
    revs_number = (revs_number * 10) + remainder  
    number = number // 10

In [9]:
print("The reverse number is : {}".format(revs_number))

The reverse number is : 45561764532

**6.	Write a function called add_int that will take two integers as input and return its sum as output**

In [10]:
def add_int(a,b):
  c = a+b
  print("Sum of the two integers is: ",c)

In [11]:
number1 = int(input("Enter the first integer: "))
number2 = int(input("Enter the second integer: "))
add_int(number1,number2)

Enter the first integer: 234565
Enter the second integer: 7665432
Sum of the two integers is:  7899997

**8.	To write a Python program to print keys and values of the dictionary using dict.keys(), dict.items()**

In [12]:
def dict_print(dict1):
  print(dict1.keys())
  print(dict1.items())

In [13]:
dict1 = {1:"one",2:"two",3:"three"}
dict_print(dict1)

dict_keys([1, 2, 3])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

**##Conclusion:**

In this experiment, We wrote different programs and  revise the basics of python and google colab.